    <footer class="footer">
        <div class="container">
          <span class="text-muted">Made by ©MrPlop</span>
          <!-- SMTP INCLUSION -->
          <a href="/contact">
            <button type="button" class="btn btn-sm btn-outline-info">Contact me</button>
          </a>
        </div>
      </footer>
</body>
</html>