<%- include('./_header.ejs'); %>

<div class="container">
    <h1 class="h1">Woops, something went wrong. I'm sorry :(</h1>
    <p> 
        <%= error.err %>
    </p>
</div>

<%- include('./_footer.ejs');%>