<%- include('./_header.ejs');%>

<div class="container">
    <h1 class="h1">Welcome to my site !</h1>
    <p>I built it from scratch, hope you like it !</p>
    <p>It's not much, but it's made with love :)</p>
</div>

<%- include('./_footer.ejs');%>